.header, .nav
    display: flex
    align-items: center

.header
    justify-content: space-between

    & > h1
        font-size: xx-large
        margin-right: 20px

.nav
    justify-content: flex-end
    flex-grow: 1

    & > a
        padding: 5px 10px
